.nasa{
    font: 1.5rem Poppins, sans-serif;
    color: #FFFFFF;
}

.si-info{
    font: 1rem Poppins, sans-serif;
    color: #FFFFFF;
}

.server{
    font: 1rem Poppins, sans-serif;
    color: #FFFFFF;
    text-wrap: wrap;
}