.container{
    display: flex;
    gap: 0.25rem;
    margin-top: 2rem;
    width: 90%;
    align-items: center;
}

.heading{
    font: 1.5rem Poppins, sans-serif;
}

.box{
    color: #FFFFFF;
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 1/4; */
    padding: 0.5rem;
    height: auto;
    border: 0.5px solid white;
}

.box11{
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 1/4; */
    padding: 0.5rem;
    height: auto;
    background-color: #FFFFFF;
    color: black
}